################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhotoCull/v15
/PhotoCull/bin
/PhotoCull/obj
/PhotoCull/PhotoCull.csproj.user
